@charset "utf-8";

#wrap {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    order: 1;
}

/* info_section 영역 css */

.info_section {
    width: 100%;
    background-color: gray;
}

.info_list {
    display: flex;

}

.info_list li {
    width: 25%;
    text-align: center;
    border: solid rgb(107, 107, 107, 0.5) 1px;
}

.info_list li a {
    display: block;
    padding: 15px 0;
}

/* .info_list li a img {} */

/* header 영역 css */

.header {
    width: 100%;
    position: relative;
    order: 2;
}

.logo {
    width: 100%;
    padding: 30px 0;
    background-color: gray;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 0px 3px 1px rgb(82, 82, 82);
    line-height: 22px;
}

.nav {
    width: 100%;

}

.gnb {
    display: none;
    /* transition: all 0.5s; */
}

.gnb.on {
    display: block;
}

.gnb li {
    display: flex;
    /* justify-content: space-between; */
    background-color: rgb(95, 95, 95);
    color: rgb(255, 255, 255);
}

.gnb li a {
    font-weight: bold;
    font-size: 15px;
    padding: 20px 0;
    display: block;
    width: 80%;
    text-indent: 20px;

}

.gnb li span {
    /* display: block; */
    padding: 20px 0;
    text-indent: -9999px;
    cursor: pointer;
    width: 20%;
    background: url(../images/s_images/sub_menu_toggle_btn1.png) no-repeat center center;
}

.mtb {
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/s_images/menu_toggle_btn1.png) no-repeat;
    text-indent: -9999px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 10px;
}

.shs {
    order: 3;
    background-color: rgb(59, 59, 59);
    padding: 40px 0;
    text-align: center;
}

.shs h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.plat_list {}

.plat_list li {
    display: inline;
    font-size: 12px;

}

.plat_list li a {}

/* content_section 영역 */

.content_section {
    order: 4;
    padding: 20PX;
    background-color: rgb(92, 92, 92);
}

.content_section>div {
    margin-top: 50px;
}
.content_section>div:first-child{
    margin: 10px !important;
}

.cont_1 {
    text-align: center;
}



.cont_1 img {
    width: 100%;
}

.cont_1 h3 {
    font-size: 20px;
    margin: 25px 0 15px 0;
}

.cont_1 p {
    font-size: 14px;
    line-height: 1.3;
    text-align: justify;
}

.cont_2 {}

.cont_2 article {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 40px;
}
.cont_2 article:nth-child(1){
    /* padding-top: 0 !important; */
}

article h4 {
    margin: 20px 0;
    font-weight: bold;
}

article img{
    max-width: 100%;
}

article p{
        font-size: 14px;
    line-height: 1.3;
    text-align: justify;
}

.cont_3{


}
.cont_3 h4{
    margin-bottom: 10px;
}

.para{
width: 100%;
border-top:3px solid rgb(145, 145, 145,0.5) ;
padding-top: 10px;
}

.para p{
            font-size: 14px;
    line-height: 1.3;
    text-align: justify;
}
.para p:nth-child(1){
    margin-bottom: 20px;
}
.footer {
    order: 10;
    width: 100%;
    background: white;
    color: black;
    order: 5;
}

.footer p {
    text-align: center;
    padding: 20px;
    font-size: 12px;
}

@media screen and (min-width:768px) {
    #wrap {
        /* width: 90%; */
        flex-flow: row wrap;
    }

    .header {}

    .logo {
        position: absolute;
        width: 20%;
        /* height: 150px; */
        /* padding: 30px; */
        height: 130px;
        z-index: 102;
    }

    .nav {
        min-height: 80px;
        background: gray;
        position: relative;
    }

    .gnb {
        position: absolute;
        top: 80px;
        right: 0;
        width: 40%;
        z-index: 103;
    }

    .mtb {
        right: 20px;

    }

    .shs{
        width: 100%;
    }

    .content_section{
        padding: 50px;
    }


}/* min-width:768px */

@media screen and (min-width:1200px) {
    
    #wrap{
        width: 90%;
        position: relative;
    }
    .info_section{
        position: absolute;
        z-index: 105;
        width: 10%;
        right: 30px;
        top: 30px;
        order: 0;
        
    }
    .info_list li{
        border: none;
        width: auto;
        margin-left: 15px;
    }
    
    .info_list li a {
        padding: 0;
    }
    
.header{
    order: 1;
    display: flex;
    justify-content: flex-end;
    position: static;
    /* border: 1px solid red; */
    background-color: gray;
}

.nav{
    width: 85%;
    display: flex;
    position: static;
    align-items: center;
}

.logo{
    width: 10%;
    left:0 ;
}
.gnb{
    display: flex !important;
    flex-direction: row;
    width: 100%;
    padding-left: 2%;
    position: static;
    /* border: 1px blue solid; */
}

.gnb li{
    display: block;
    background: none;
    margin-left: 5%;
    /* border: 1px blue solid; */
}
.gnb li a{
    width: auto;
    /* text-indent: -9999px; */
    /* margin-left: 150px;  */
    text-indent: 0;
    padding: 0;
    transition: all 0.5s;
}
.gnb li a:nth-child(1){
    /* margin-left: 0; */
}

.gnb li a:hover{
    color: rgb(66, 66, 66);
}
.gnb li span{
    display: none;
}

.mtb{
    display: none;
}

.shs{
    order: 2;
}
/* content_section 영역 */

.content_section {
    order: 3;
   padding: 60px;
}

.cont_2 {
    display: flex;
    justify-content: space-between;
}
.cont_2>article{
    width: 30%;
    /* margin: 0; */
     border: 2px solid rgb(0, 0, 0,0.3); 
     padding: 10px;
     border-radius: 5px;
}

.para{
     display: flex;
    justify-content: space-between;
}

.para p:first-child{
    margin-bottom: 0 !important     ;
} 

.para p{
    width: 47%;
}

}/* min-width:1200px */